<div class="main">
  <div class="image">
      <img class="myimage" src="../assets/images/login_image.png">  
  </div>
  <div class="form">
    <div class="card">
      <br>
      <h4 class="Welcome">Welcome To <b style="color: blue;">Pixel Prodigies</b></h4>
      <div class="info-container">
        <h5 class="info">Need an account?</h5>
      </div>
      <div class="btn-container">
        <button class="btn_student" (click)="goToStudentRegister()">Student</button>
        <button class="btn_supervisor" (click)="goToSupervisorRegister()">Supervisor</button>
      </div>
      
      <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
        <h4 class="signin">Sign In</h4>
        
        <input 
          class="input_email" 
          type="email" 
          formControlName="email"
          placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        >
        <div *ngIf="submitted && f['email'].errors" class="error-message">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Invalid email format</div>
          <div *ngIf="errorMessage.length > 0">{{ errorMessage }}</div>
        </div>

        <input 
          class="input_password" 
          type="password" 
          formControlName="password"
          placeholder="Password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        >
        <div *ngIf="submitted && f['password'].errors" class="error-message">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="errorMessage.length > 0">{{ errorMessage }}</div>
        </div>

        <h5 class="btn_forgetPassword" style="margin-left: 300px;">Forget Password ?</h5> 

        <button type="submit" class="btn_login">Login</button>
      </form>

    </div>
  </div>
</div>