<div class="main">
  <div class="image">
      <img class="myimage" src="../assets/images/register_image.png">  
  </div>
  <div class="form">
    <div class="card">
      <br>
      <h4 class="info"><b>Sign Up</b><br>Enter details to create your account</h4>

      <form [formGroup]="registerForm" (ngSubmit)="save()">
        <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)" #fileInput>
        <img class="btn_userimage" [src]="userImageuri" (click)="fileInput.click()">
        <div *ngIf="submitted && !selectedFile" class="error-message">
          Profile image is required
        </div>

        <div class="testtest">
          <input type="text" class="fname" formControlName="firstName" placeholder="First Name">
          <input type="text" class="lname" formControlName="lastName" placeholder="Last name">
        </div>
        <div class="error-container">
          <div *ngIf="submitted && f['firstName'].errors" class="error-message">
            First name is required
          </div>
          <div *ngIf="submitted && f['lastName'].errors" class="error-message">
            Last name is required
          </div>
        </div>

        <input type="email" class="input_email" formControlName="email" placeholder="addressEmail@gmail.com">
        <div *ngIf="submitted && f['email'].errors" class="error-message">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Invalid email format</div>
        </div>

        <input type="password" class="input_password" formControlName="password" placeholder="password">
        <div *ngIf="submitted && f['password'].errors" class="error-message">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters</div>
        </div>

        <h5 class="test">Already Registered? <b class="login-link" routerLink="/login">Login</b></h5> 

        <button class="btn_register" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>