<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="header">
    <label for="title" class="title">{{ status }} Company</label>
    <input type="text" class="input_search" placeholder="Search" [(ngModel)]="search_text">
    <select  (change)="onDomaineChange($event)">
        <option value="" disabled selected> Domaine</option>
        <option *ngFor="let domaine of allDomaine" [value]="domaine">
            {{ domaine }}
        </option>
    </select>
    <i class="icon"></i>
</div>
<table class="table" *ngIf="status === 'PENDING' else dispalyAcceptedCompany" >
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">WebSite</th>
            <th scope="col">Domaine</th>
            <th scope="col">SuperVisor</th>
            <th scope="col">Option</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of listCompany |filter:search_text "     >
            <td (click)="goToCompanyWeb(company.webSite)">{{ company.companyName  }}</td>
            <td (click)="goToCompanyWeb(company.webSite)"> {{ company.companyEmail }}</td>
            <td (click)="goToCompanyWeb(company.webSite)">{{ company.webSite }}</td>
            <td (click)="goToCompanyWeb(company.webSite)">{{ company.domaine }}</td>
            <td [routerLink]="'/admin/dashboard/all-user/'+company.supervisor?.userId  ">{{ company.supervisor?.firstName + ' ' + company.supervisor?.lastName }}</td>
            <td ><i (click)="setCompanyNewStatus('REFUSED',company.companyId)" class="fas fa-trash-alt" style="color: red;font-size: 17px;cursor: pointer;"></i> <i (click)="setCompanyNewStatus('ACCEPTED',company.companyId)" class="glyphicon glyphicon-ok" style="font-size:17px ; cursor: pointer; color: green;margin-left: 50%;"></i></td>

        </tr>
    </tbody>
</table>

<ng-template #dispalyAcceptedCompany>
   <table class="table" >
     <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">WebSite</th>
            <th scope="col">Domaine</th>
            <th scope="col">SuperVisor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of listCompany |filter:search_text "     >
            <td (click)="goToCompanyWeb(company.webSite)">{{ company.companyName  }}</td>
            <td (click)="goToCompanyWeb(company.webSite)"> {{ company.companyEmail }}</td>
            <td (click)="goToCompanyWeb(company.webSite)">{{ company.webSite }}</td>
            <td (click)="goToCompanyWeb(company.webSite)">{{ company.domaine }}</td>
            <td [routerLink]="'/admin/dashboard/all-user/'+company.supervisor?.userId  ">{{ company.supervisor?.firstName + ' ' + company.supervisor?.lastName }}</td>

        </tr>
    </tbody>
</table>
</ng-template> -->
