<div class="community-back-container">
    <h2>Manage Communities</h2>
  
    <!-- Displaying existing communities -->
    <div *ngIf="communities.length">
      <h3>Existing Communities</h3>
      <ul class="community-list">
        <li *ngFor="let community of communities" class="community-item">
          <span class="community-name">{{ community.name }}</span>
          <div class="button-group">
            <button class="btn edit-btn" (click)="getCommunity(community.communityId)">Edit</button>
            <button class="btn delete-btn" (click)="deleteCommunity(community.communityId)">Delete</button>
          </div>
        </li>
      </ul>
    </div>
  
    <!-- Form for creating or editing a community -->
    <div *ngIf="isEditing" class="form-container">
      <h3>Edit Community</h3>
      <form (ngSubmit)="updateCommunity(communityToEdit.communityId)">
        <label for="name">Name</label>
        <input id="name" [(ngModel)]="communityToEdit.name" name="name" required />
        <div class="form-actions">
          <button type="submit" class="btn update-btn">Update Community</button>
          <button type="button" class="btn cancel-btn" (click)="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="!isEditing" class="form-container">
      <h3>Create a New Community</h3>
      <form (ngSubmit)="createCommunity()">
        <label for="newName">Name</label>
        <input id="newName" [(ngModel)]="community.name" name="name" required />
        <div class="form-actions">
          <button type="submit" class="btn create-btn">Create Community</button>
        </div>
      </form>
    </div>
</div>
