.div {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust this to fit your needs */
}

.divA, .divB, .divC {
    flex: 1;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 10px;
    border-radius: 15px;
}

.divA {
    background-color: whitesmoke; 
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.divB {
    background-color: whitesmoke; 
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 500px;
}



.divAA{
    height: 400px;
    width: 50%;
}
.divBB{
    height: 400px;
    width: 50%;
}
.barChart2{
width: 700px;
}