<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<app-header></app-header>
<div class="mymainDiv">
  <app-top-page></app-top-page>
</div>
<div class="thirdDiv">

  
</div>



<div class="fields-container">

</div>

<div>
  <div class="fifthcontainer">
    <div class="leftDiv">
      <app-top-hot-internship></app-top-hot-internship>
    </div>
    <div class="rightDiv">
      <app-top-hot-company></app-top-hot-company>
    </div>

  </div>
  <div class="statss">
    <app-stat></app-stat>
  </div>



    <app-newest-member></app-newest-member>
  </div>




  <app-footer></app-footer>
  <router-outlet></router-outlet>