.main {
    display: flex;
    padding: 0;
}

.image, .form {
    height: 100vh;
    width: 50%;
    margin: 0;
    max-height: max-content;
}

.card {
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 13%;
    margin-top: 15%;
    height: 500px;
    width: 500px;
}

.myimage {
    margin: 20px;
    height: 100%;
    width: 100%;
}

.Welcome {
    font-size: 18px;
    margin-left: 25%;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

.info {
    margin-left: 55px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn_signup {
    color: aqua;
}

.info-container {
    margin-left: 55px;
    display: flex;
    align-items: center;
}

.info-container h5 {
    margin-top: 10px;
    margin-left: 55px;
    margin: 0;
    margin-right: 10px; /* Adjust as needed for spacing */
}

.info-container h3 {
    margin: 0;
    cursor: pointer; /* Optional: indicates the element is clickable */
}

.btn-container {
    margin-top: 20px;
    margin-left: 55px;
    display: flex;
    align-items: center;
}

.btn_student {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    background: rgb(143, 192, 248);
    border-radius: 15px;
    margin-left: 15%;
}

.btn_supervisor {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    background: rgb(143, 192, 248);
    border-radius: 15px;
    margin-left: 15%;
}

.signin {
    margin-left: 55px;
}

input {
    margin-left: 55px;
    height: 55px;
    width: 355px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
}

.btn_login {
    margin-left: 70px;
    height: 55px;
    width: 355px;
    padding-left: 10px;
    border-radius: 35px;
    border: none;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
}
.error-message {
    color: #ff3860;
    font-size: 12px;
    margin-left: 55px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .is-invalid {
    border-color: #ff3860 !important;
  }
  
  input:focus {
    outline: none;
    border-color: #6b99d6;
    box-shadow: 0 0 3px #6b99d6;
  }

button:hover {
    animation: bubble 0.4s ease-out;
}

@keyframes bubble {
    0% {
        transform: scale(1);
        background: linear-gradient(90deg, #6b99d6, #637e8d);
    }
    50% {
        transform: scale(1.2);
        background: linear-gradient(90deg, #6b99d6, #637e8d);
    }
    100% {
        transform: scale(1);
        background: linear-gradient(90deg, #6b99d6, #637e8d);
    }
}
