<nav class="navbar" [ngClass]="{ 'scrolled': isScrolled }">
  <div class="navbar-brand">
    <a routerLink="/">Pixel Prodigies</a>
  </div>
  <div class="navbar-buttons">
    <label class="btn" routerLink="/">Home</label>
    <label class="btn" routerLink="/homepage/all-internship">Opportunity</label>


    <button class="btn-AddInternship" routerLink="/homepage/create-internship" [class.disabled]="isStudent()">New Opportunity</button>
    <button *ngIf="isLoggedIn" class="btn-logout" (click)="logout()">Logout</button>
  </div>
</nav>