.title{
    color: rgb(110, 110, 235);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;

}
.header{
    height: 70px;  
}
.input_search{
    margin-left: 25px;
    border:1px solid black;
    border-radius: 8px;
    width: 44%;
    height: 40px;
    color: black;
    padding-left: 15px;
    font-size: 17px;

}
select{
    height: 40px;
    width: 120px;
    padding-left: 10px;
    margin-left: 20px;
}