     <div class="stats">
    <div class="divA"></div>
    <div class="divA">
      <i class="fas fa-user-graduate" style="font-size: 65px; color: whitesmoke;"></i>
      <label class="value">{{ totalStudent }}</label><br>
      <label class="title">Student</label>
    </div>
    <div class="divA">
      <i class="fas fa-crosshairs" style="font-size: 65px; color: whitesmoke;"></i>
      <label class="value">{{ totalInternship }}</label><br>
      <label class="title">Opportunity</label>
    </div>
    <div class="divA">
      <i class="fas fa-handshake" style="font-size: 65px; color: whitesmoke;"></i>
      <label class="value">{{ totalapplication }}</label><br>
      <label class="title">Application</label>
    </div>
    <div class="divA">
      <i class="fas fa-school" style="font-size: 65px; color: whitesmoke;"></i>
      <label class="value">{{ totalCompany }}</label><br>
      <label class="title">Company</label>
    </div>
    <div class="divA"></div>
  </div>
  