<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="sidebar">
    <label class="title">Pixel Prodigies</label>
    <hr style="background-color: black; height: 1px;">
    
    <div class="sidebar-item" (click)="showUserOptions = false" (mouseover)="showUserOptions = true">
        <i class="glyphicon glyphicon-user" style="font-size: 22px;"></i>
        <span>User</span>
    </div>

    <div *ngIf="showUserOptions" class="options">
        <button class="option-button" (click)="getAllStudent()">Student</button>
        <button class="option-button" (click)="getAllSupervisor()">Supervisor</button>
    </div>



</div>
