<div *ngIf="student else displaySupervisor ">
    <label class="title">Student Details</label>

    <div class="details">
        <div class="image">
            <img [src]="'data:image/png;base64,' + myUser.userImage" (click)="openStudentCV(myUser.studentCV)">
        </div>

        <div class="userdetails">
            <div class="testtest">
                <label class="test" >Student Name :</label> <label class="name1"> {{myUser.firstName +' '+myUser.lastName}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Birthdate :</label> <label class="name" > {{myUser.birthdate}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Email :</label> <label class="name"> {{myUser.email}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Level :</label> <label class="name"> {{myUser.studentLevel}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Classe :</label> <label class="name">{{myUser.classeLevel}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Speciality :</label> <label class="name"> {{myUser.specialty}} </label><br>

            </div>
        </div>
    </div>

    <div class="allApplication">
        <label class="title">Student Applications</label>

        <div class="containerr">
            <br>
            <div class="oneStudentContainer"
                *ngFor="let application of listOfApplication |paginate: { itemsPerPage: 3, currentPage: p }">
                <div (dblclick)="goToInternshippDetails(application.internshipId)" class="card" [ngClass]="{'accepted': application.applicationStatus === 'ACCEPTED', 'refused': application.applicationStatus === 'REFUSED'}">
                    <img class="img" [src]="'data:image/png;base64,' + getCompanyImage(application.internshipId)" (click)="goToCompanyWeb(getOneInternship(application.internshipId).company?.webSite)">
                    <div class="testtesttest">
                        <label class="mytest">Company  </label><label class="internshipType" [innerHTML]="getOneInternship(application.internshipId).company?.companyName"></label>
                    </div>
                    <div class="testtesttest">
                        <label class="mytest">Post : </label><label class="internshipType" [innerHTML]="getOneInternship(application.internshipId).postName"></label>
                    </div>
                    <div class="testtest">
                        <label class="mytest">Type :</label>             <label class="internshipType" [innerHTML]="getOneInternship(application.internshipId).internshipType"></label>
    
                    </div>
                    <div class="testtesttest">
                        <label class="mytest">Status : </label> <label class="internshipType" >{{application.applicationStatus}}</label>
                    </div>
                    <div class="testtest">
                        <label class="mytest" >Applied on :</label>            <label class="applicationDate">{{application.applicationDate|date:'dd/MM/yyyy HH:mm' }}</label>
    
                    </div>
    
    
    
                </div>
            </div>
        </div>
        <div class="pagination"> <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>



</div>
<ng-template #displaySupervisor>
    <div>
        <label class="title">Supervisor Details</label>

    <div class="details">
        <div class="image">
            <img [src]="'data:image/png;base64,' + myUser.userImage" (click)="openStudentCV(myUser.studentCV)">
        </div>

        <div class="userdetails">
            <div class="testtest">
                <label class="test" >Supervisor Name :</label> <label class="name1"> {{myUser.firstName +' '+myUser.lastName}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Email :</label> <label class="name"> {{myUser.email}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Company :</label> <label class="name" > {{myCompany.companyName}} </label><br>


            </div>
            <div class="testtest">
                <label class="test">Domaine :</label> <label class="name">{{myCompany.domaine}} </label><br>

            </div>
            <div class="testtest">
                <label class="test">Telephone :</label> <label class="name"> {{myCompany.companyTelephone}} </label><br>

            </div>
         
            <div class="testtest">
                <label class="test">companyEmail :</label> <label class="name"> {{myCompany.companyEmail}} </label><br>

            </div>
        </div>
    </div>
    <div class="allApplication">
        <label class="title">Internships </label>

        <div class="containerr">
            <br>
            <div class="oneStudentContainer"
                *ngFor="let internship of myInternship |paginate: { itemsPerPage: 3, currentPage: p }">
                <div (dblclick)="goToInternshipDetails(internship)" class="card" >
                    <img class="img" [src]="'data:image/png;base64,'+myCompany.company_logo" (click)="goToCompanyWeb(myCompany.webSite)">
                    <div class="testtesttest">
                        <label class="mytest">Post :  </label><label class="internshipType">{{internship.postName}}</label>
                    </div>
                    <div class="testtesttest">
                        <label class="mytest">Type : </label><label class="internshipType" >  {{internship.internshipType}} </label>
                    </div>
                    <div class="testtest">
                        <label class="mytest"> Capacity :</label>             <label class="internshipType" >{{internship.postCapacity}}</label>
    
                    </div>
                    <div class="testtest">
                        <label class="mytest"> Status :</label>             <label class="internshipType" >{{internship.internshipStatus}}</label>
    
                    </div>
                 
                    <div class="testtest">
                        <label class="mytest" >Created At :</label>            <label class="applicationDate">{{internship.creationDate|date:'dd/MM/yyyy HH:mm' }}</label>
    
                    </div>
    
    
    
                </div>
            </div>
        </div>
        <div class="pagination"> <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>
    </div>
</ng-template>