<div class="header">
    <label for="title" class="title">{{ status }} Internships</label>
    <input type="text" class="input_search" placeholder="Search" [(ngModel)]="search_text">
    <select (change)="onInternshipTypeChange($event)">
        <option value="" disabled selected> Type</option>
        <option *ngFor="let type of internshipTypes" [value]="type">
            {{ type }}
        </option>
    </select>
    <select  (change)="onDomaineChange($event)">
        <option value="" disabled selected> Domaine</option>
        <option *ngFor="let domaine of allDomaine" [value]="domaine">
            {{ domaine }}
        </option>
    </select>
    <i class="icon"></i>  
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Company</th>
            <th scope="col">Post</th>
            <th scope="col">Capacity</th>
            <th scope="col">Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Posted At</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let internship of myinternshipList | filter:search_text "  [routerLink]="'/admin/dashboard/all-internship/'+internship.internshipId"  >
            <label  [innerHTML]="getCompanyName(internship.companyId)" > </label>
            <td >{{ internship.postName }}</td>
            <td>{{ internship.postCapacity }}</td>
            <td>{{ internship.internshipType }}</td>
            <td>{{ internship.startDate |date:"yyyy/MM/dd" }}</td>
            <td>{{ internship.endDate |date:"yyyy/MM/dd"  }}</td>
            <td>{{ internship.creationDate |date:"yyyy/MM/dd"  }}</td>


        </tr>
    </tbody>
</table>
