body {
    margin: 0;
    padding-top: 20px; /* Adjust based on the height of your header */
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
