<div class="fourthcontainer">

    <label
      style="margin-top: 55px;margin-left: 45%; font-size: 24px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: bold;">Newest
      Candidates</label>
    <div class="scroller">
      <div class="scroller__inner">
        <div class="wrapper" *ngFor="let student of last10Students">
          <div class="myApplication">
            <div class="carduser">
              <img class="img" [src]="'data:image/png;base64,' + student.userImage"> <br> <br>
              <label class="name">{{student.firstName + ' ' + student.lastName}}<br><br></label><br>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>