.main {
  display: flex;
  height: auto;
  width: 100%;
  padding: 0px;
}

.left {
  width: 35%;
  height: 100vh;
}

.right {
  height: auto;
  width: 65%;
  border-left: 3px solid black;
  padding-left: 20px;
}

.myimage {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 8%;
  border: 1px solid black;
}

.companyname {
  margin-left: 25%;
  font-size: 26px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  letter-spacing: 1.5px;
  margin-top: 15px;
}

.oneStudentContainer {
  margin-left: 35px;
  border-radius: 5px;
  height: 300px;
  width: 25%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.pagination {
  margin-top: 90px;
  margin-left: 75%;
}

.containerr {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 90%;
  justify-content: space-around;
}

.card {
  background-color: aliceblue;
  margin-top: 15px;
  height: 370px;
  width: 260px;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem aqua;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.card.accepted {
  border-color: green;
}

.card.refused {
  border-color: red;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.img {
  margin-left: 25%;
  height: 125px;
  width: 125px;
  margin-top: 35px;
  border-radius: 60px;
  border: 1px solid black;
}

.btn_all {
  margin-left: 50%;
  color: rgb(56, 133, 240);
}

.btn_pending, .btn_accepted, .btn_refused {
  height: 50px;
  width: 100px;
  margin-right: 15px;
  border: none;
  border-radius: 8px;
}

.btn_accpted {
  color: green;
}

.btn_refused {
  color: red;
}

.value {
  font-size: 16px;
  color: black;
  margin-left: 6px;
}

.name {
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.text, .text1 {
  font-size: 15px;
  color: gray;
  margin-top: 15px;
}

.text {
  margin-left: 20px;
}

.value {
  font-size: 16px;
  color: black;
  margin-left: 10px;
  margin-top: 15px;
}

p {
  width: 94%;
}

.btn_apply {
  margin-left: 60%;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 120px;
  border: none;
  background-color: yellowgreen;
  margin-bottom: 25px;
}

.btn_apply.disabled {
  pointer-events: none;
  opacity: 0.5;
}
